/build/
/.idea/
/.vscode/
/.flutter-plugins-dependencies
lib/styslo.db
/.dart_tool/
*.pyc
__pycache__/
/macos/
/linux/
/windows/
.gradle/
android/.gradle/
android/app/build/
*.html
storage/
assets/models/tts
assets/models/voice
assets/ffmpeg
bin/
*.session
.venv/
*.db